* {
    margin: 0;
    box-sizing: border-box;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .functional__component, .class__component {
        padding: 20px 50px;
        background-color: cadetblue;
        margin-bottom: 10px;
    }
}